@charset "utf-8";

.title{
    font-size:2.14285rem;/* 30px */
    font-weight:bold;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: column;
}

.list li{
    font-size:1rem;/* 14px */
    line-height:1.2857rem;/* 18px */
    padding:10px;
}

.list li:nth-child(odd){background:#f8f5fe}

.img-box{
    width:28.5714rem;/* 400px */
    height:28.5714rem;/* 400px */
    margin:1.4285rem auto;/* 20px */
}
.img-box img{width:100%;}